/* Color /*
$navbar : #01BAF3
$titulo : #00B9F2
/* Body /*
body, html
  overflow-x: hidden
  margin: 0
  padding: 0
*
  box-sizing: border-box

h1
  font-family: DINCond-Black
h3
  font-family: DINCond-BoldAlternate
  color: $titulo
  letter-spacing: 7.45px
  margin-top: 200px
  font-size: 20px
  font-weight: normal
p
  font-family: DINCond-Light
a
  font-family: DIN
  font-weight: bold
.section
  width: 100%
/* NAVBAR /*
.navbar-fixed-top
  background-color: transparent
  li
    a
      color: white
      &:hover, &:focus
        color: black
  .navbar-header
    button
      color: white
      &:hover, &:focus
        color: black
  .logo
    padding-left: 40px
@media only screen and (min-width: 480px)
  .navbar-fixed-top
    background-color: transparent
    li
      a
        padding-top: 20px
        padding-right: 40px
        font-size: 13px
        font-style: normal
        font-weight: bold
        font-family: DIN
        color: white
        &:hover, &:focus
          background-color: transparent
          color: black
    .navbar-header
      button
        color: white
        &:hover
          color: black
.intro
  .logointro
    margin-top: 240px
    margin-bottom: -290px
  img
    margin-top: 50px
    position: relative
    z-index: -10
    background-size: cover
    @media only screen and (min-width: 480px)
      margin-top: 0px
  .principal
    position: absolute
    z-index: 10
    h1
      color: white
      font-size: 20px
      margin-top: 50px
      @media only screen and (min-width: 480px)
        font-family: DINCond-Black
        font-size: 64px
        color: white
        letter-spacing: 0
        line-height: 80px
        margin-top: 300px
.we
  h3
    /* QUIENES SOMOS: */
    font-family: DINCond-BoldAlternate
    color: $titulo
    letter-spacing: 7.45px
    margin-top: 200px
    font-size: 20px
    font-weight: normal
  h1
    margin-top: 50px
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
  p
    margin-top: 60px
    margin-bottom: 200px
    font-size: 24px

.services
  background-color: #FBFBFB
  h1
    margin-bottom: 50px
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
  h3
    padding-top: 200px
    margin-top: -80px
    font-size: 20px
    color: $titulo
  p
    font-size: 24px
  .boxes
    padding-top: 50px
    p
      font-family: DINCond-Light
      font-size: 17px
      color: #919191
      letter-spacing: 0
    h2
      font-family: DINCond-Light
      font-size: 24px
      color: #000000
      letter-spacing: 0
    a
      font-family: DINCond-Light
      font-size: 17px
      color: #01BAF3
      letter-spacing: 0
    .box
      border-right: 1px #E7E6E6 solid
      border-left: 1px #E7E6E6 solid


.carrousel
  margin-top: 50px
  width: 100%
  height: auto
  .slider
    width: 100%


.latam
  h3
    color: $titulo
    padding-top: 300px
  h1
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px

.team
  margin-bottom: 50px
  background-color: #FBFBFB
  h3
    color: $titulo
    padding-top: 100px
  p
    font-size: 24px
    text-align: center
  .barra
    width: 100%
    margin-top: 50px
    position: relative
    z-index: 0
  h4
    position: relative
    z-index: 10
    margin-top: 50px
  .fotos
    padding-top: 50px
  .socios
    margin-top: 50px
    padding-bottom: 100px
  h1
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
.contact
  h3
    color: $titulo
    padding-top: 100px
  img
    padding-bottom: 50px
  .forminput
    margin-bottom: 20px
    border: 3px solid #E5E4E4
    border-radius: 13px
    width: 100%
    font-family: DINCond-Light
    font-size: 24px
    color: #B3B3B3
    letter-spacing: 0
    &:focus, &:hover, &:active
      margin-bottom: 20px
      border: 3px solid #E5E4E4
      border-radius: 13px
      width: 100%
      font-family: DINCond-Light
      font-size: 24px
      color: #B3B3B3
      letter-spacing: 0
  textarea
    border: 3px solid #E5E4E4
    border-radius: 13px
    font-family: DINCond-Light
    font-size: 24px
    color: #B3B3B3
    letter-spacing: 0
    width: 100%
  .btn-form
    background-color: #CDCDCD
    border-radius: 13px
    border-color: #CDCDCD
    border-style: none
    color: white
    width: 100%
    height: 40px
    margin-top: 30px
    margin-bottom: 50px
.footer
  padding-top: 20px
  background: $titulo
ul
  li
    color: white
    list-style-type: none
    font-family: DINCond-Light
    font-size: 20px
    a
      color: white
      font-family: DINCond-Light
      font-size: 20px

/* SLICK */

.slider
  width: 50%
  margin: 100px auto
.slick-slide
  margin: 0px 20px
  img
    width: 100%

.slick-prev, .slick-next
  &:before
    color: black
