/* Color /*
$navbar : #01BAF3
$titulo : #00B9F2
$fontDINLight: DIN-LightItalicAlt
$fontDINBold: DINCond-BoldAlternate

@font-face
  font-family: DINCond-Light
  src: url("../fonts/DIM/DIN-Light.otf")
@font-face
  font-family: DINCond-Black
  src: url("../fonts/DIM/DINCond-Black.otf")
@font-face
  font-family: DINCond-BoldAlternate
  src: url("../fonts/DIM/DIN-BoldAlternate.otf")
@font-face
  font-family: DIN-BoldItalic
  src: url("../fonts/DIM/DIN-BoldItalic.otf")
@font-face
  font-family: Movie-Star
  src: url("../fonts/Movie Star/Movie-Star.ttf")

/* Body /*
body, html
  overflow-x: hidden
  margin: 0
  padding: 0
*
  box-sizing: border-box
p
  font-family: DINCond-Light

h1
  font-family: DINCond-Black
h3
  font-family: $fontDINBold
  color: $titulo
  letter-spacing: 7.45px
  margin-top: 200px
  font-size: 20px
  font-weight: normal
.section
  width: 100%
/* NAVBAR /*
.navbar-fixed-top
  background-color: rgba(0,0,0, 0.9)
  li
    a
      color: white
      &:hover, &:focus
        color: white
  .navbar-right
    display: none
    @media only screen and (min-width: 768px)
        display: inline-flex
        padding-right: 30px
        li
          margin-right: 30px
          a
            margin-right: -60px
  .navbar-header
    button
      color: white
      &:hover, &:focus
        color: black
  .logo
    padding-left: 0px
    @media only screen and (min-width: 1024px)
      padding-left: 40px
@media only screen and (min-width: 480px)
  .navbar-fixed-top
    background-color: rgba(0,0,0, 0.4)
    li
      a
        padding-top: 20px
        padding-right: 0px
        font-size: 13px
        font-style: normal
        font-weight: bold
        font-family: DINCond-BoldAlternate
        color: white
        @media only screen and (min-width: 1024px)
          padding-right: 40px
        &:hover, &:focus
          background-color: transparent
          color: black
        img
          margin-top: -5px
    .navbar-header
      button
        color: white
        &:hover
          color: black
.intro
  margin-top: 57px
  @media only screen and (min-width: 768px)
    margin-top: 0px
  .video-container
    .fillWidth
      width: 100%
      background-repeat: no-repeat
      background-size: cover
  .logointro
    @media only screen and (min-width: 1024px)
      display: block
      margin-top: 240px
      margin-bottom: -290px
      max-width: 502.57px
      max-height: 153.09px
  img
    margin-top: 50px
    position: relative
    z-index: -10
    background-size: cover
    @media only screen and (min-width: 480px)
      margin-top: 0px
  .principal
    position: absolute
    z-index: 10
    font-family: DINCond-Black
    h1
      font-weight: lighter
      color: #FFFFFF
      font-size: 20px
      margin-top: 50px
      @media only screen and (min-width: 480px)
        font-size: 64px
        letter-spacing: 0
        line-height: 80px
      @media only screen and (min-width: 1024px)
        margin-top: 400px
        font-size: 64px
        font-size: 17px
        letter-spacing: 1.87px
.we
  background-image: url(../img/Pattern.png)
  background-size: cover
  h3
    /* QUIENES SOMOS: */
    font-family: DINCond-BoldAlternate
    color: $titulo
    letter-spacing: 7.45px
    margin-top: 100px
    font-size: 20px
    font-weight: normal
  h1
    margin-top: 50px
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
  p
    margin-top: 60px
    margin-bottom: 200px
    font-size: 24px

.services
  background-color: #FBFBFB
  h1
    margin-bottom: 50px
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
  h3
    padding-top: 200px
    margin-top: -80px
    font-size: 20px
    color: $titulo
  p
    font-family: Helvetica-Oblique
    font-size: 20px
    color: #6E6E6E
    letter-spacing: 0
  .boxes
    padding-top: 50px
    .girar
      &:hover
        transform: rotate(360deg)
        transition: all 0.6s ease-in-out 0s
    p
      font-family: DINCond-Light
      font-size: 17px
      color: #919191
      letter-spacing: 0
    h2
      font-family: DINCond-Light
      font-size: 24px
      color: #000000
      letter-spacing: 0
    a
      font-family: DINCond-Light
      font-size: 17px
      color: #FFA45D
      letter-spacing: 0
    .box
      @media only screen and (min-width: 480px)
        border-right: 1px #E7E6E6 solid
        border-left: 1px #E7E6E6 solid

// .carrousel
//   background-image: url('../img/Foto_Avion2.png')
//   background-position: center center
//   background-size: cover
//   margin-top: 50px
//   height: 400px
//   h3
//     color: white
//     font-family: $fontDINBold
//     font-size: 20px
//     letter-spacing: 7.44px
//     text-shadow: 0 0 10px #000000
//     padding-top: 120px
//
//   hr
//     border-bottom: 2px solid white
//   img
//     width: 10px
//     @media only screen and (min-width: 480px)
//       width: auto

.ventajas
  padding-bottom: 70px

.latam
  background-image: url(../img/Pattern.png)
  .latamselect
    margin-top: -280px
  h3
    color: $titulo
    padding-top: 300px
  h1
    color: white
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
      padding-bottom: 50px
      padding-top: 50px
  .mapa
    max-height: 440px
    padding-top: 50px
    padding-bottom: 50px
  .barra
    padding-bottom: 10px

.team
  background-color: #FBFBFB
  .teamselect
    margin-top: -180px
  h3
    color: $titulo
    padding-top: 100px
  p
    font-size: 24px
    text-align: center
  // .barra
  //   margin-top: 50px
  //   position: relative
  //   z-index: 0
  //   margin-left: -15px
  //   margin-right: -15px
  //   background-image: url('../img/Blur Barra.png')
  //   background-repeat: none
  //   background-size: cover
  //   background-position: center
  //   h4
  //     padding-top: 110px
  //     padding-bottom: 150px
  //     font-family: DIN-BoldItalic
  //     font-size: 30px
  //     color: #FFFFFF
  //     letter-spacing: 0
  //     text-shadow: 0 0 10px rgba(0,0,0,0.32)
  //     @media only screen and (max-width: 480px)
  //       font-size: 22px
  //       padding-top: 65px
  p
    font-family: DINCond-Light
  a
    font-family: DIN
    font-weight: bold

  h4
    position: relative
    z-index: 10
    margin-top: 50px
  .fotos
    padding-top: 50px
  .socios
    margin-top: 50px
    padding-bottom: 100px
  h1
    @media only screen and (min-width: 480px)
      font-family: DINCond-Black
      font-size: 64px
      color: black
      letter-spacing: 0
      line-height: 57px
.contact
  background-color: #00B9F2
  form
    button
      margin-bottom: 30px
      margin-top: 30px
      background: #FFFFFF
      border-radius: 13px
      color: #00b9f2
      border-width: 0px
      border-style: none
      width: 196px
      height: 41px
  .contactselect
    margin-top: -180px
  h3
    color: white
    font-family: DINCond-BoldAlternate
    font-size: 20px
    color: #FFFFFF
    letter-spacing: 7.45px
    padding-top: 100px
  img
    padding-bottom: 50px
  .forminput
    border: 3px solid #FFFFFF
    border-radius: 13px
    margin-bottom: 20px
    width: 100%
    font-family: DINCond-Light
    font-size: 24px
    color: white
    background-color: #00b9f2
    letter-spacing: 0
    &:focus, &:hover, &:active
      margin-bottom: 20px
      border: 3px solid white
      border-radius: 13px
      width: 100%
      font-family: DINCond-Light
      font-size: 24px
      color: white
      letter-spacing: 0
  textarea
    border: 3px solid #E5E4E4
    border-radius: 13px
    font-family: DINCond-Light
    font-size: 24px
    background-color: #00b9f2
    letter-spacing: 0
    width: 100%
.footer
  padding-top: 20px
  background: #222222
  h2
    font-family: Helvetica-Oblique
    font-size: 20px
    color: #6E6E6E
    letter-spacing: 0
  p
    font-family: Helvetica-Oblique
    font-size: 20px
    color: #6E6E6E
    letter-spacing: 0

ul
  li
    color: white
    list-style-type: none
    font-family: DINCond-Light
    font-size: 20px
    a
      color: white
      font-family: DINCond-Light
      font-size: 20px

hr
  border-bottom: 2px solid #00B9F2
  width: 18px

.clients
  background-color: #00B9F2
  padding-bottom: 80px
  img
    padding: 30px
    text-align: center
  hr
    padding-bottom: 50px
  h3
    font-family: DINCond-BoldAlternate
    font-size: 20px
    color: #FFFFFF
    letter-spacing: 7.45px
  .slider
    width: auto
    color: white
    font-family: $fontDINLight
    text-shadow: 2px 2px 5px black
    font-size: 30px
    img
      margin-left: auto
      margin-right: auto
  .slick-slide
    text-align: center
  .mini
    margin-top: 150px
/* SLICK */

.slider
  width: auto
  color: white
  font-family: $fontDINLight
  text-shadow: 2px 2px 5px black
  font-size: 30px
.slick-slide
  margin: 0px 20px

.slick-prev, .slick-next
  &:before
    color: black
/* Parallax */
.parallax-window
  min-height: 400px
  background: transparent

.window-wrapper
  padding-top: 50px
  /*height: 800px;*/
  background: #fffff

/*scroller*/
.scroller
  width: 100%
  height: 100%
  section
    width: 100%
    height: 100%
  .scroller-nav
    display: none
    @media only screen and (min-width: 480px)
      display: block
    z-index: 999
    position: fixed
    top: 50%
    right: 20px
    margin-top: -75px
    a
      display: block
      margin: 12px 0px
      width: 16px
      height: 16px
      font: 0/0 a
      color: transparent
      text-shadow: none
      background-color: transparent
      border: 0
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      border: 2px solid #FFFFFF
    a.active
      background: #FFFFFF
