/* Color /* */
@font-face {
  font-family: DINCond-Light;
  src: url("../fonts/DIM/DIN-Light.otf"); }

@font-face {
  font-family: DINCond-Black;
  src: url("../fonts/DIM/DINCond-Black.otf"); }

@font-face {
  font-family: DINCond-BoldAlternate;
  src: url("../fonts/DIM/DIN-BoldAlternate.otf"); }

@font-face {
  font-family: DIN-BoldItalic;
  src: url("../fonts/DIM/DIN-BoldItalic.otf"); }

@font-face {
  font-family: Movie-Star;
  src: url("../fonts/Movie Star/Movie-Star.ttf"); }

/* Body /* */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

p {
  font-family: DINCond-Light; }

h1 {
  font-family: DINCond-Black; }

h3 {
  font-family: DINCond-BoldAlternate;
  color: #00B9F2;
  letter-spacing: 7.45px;
  margin-top: 200px;
  font-size: 20px;
  font-weight: normal; }

.section {
  width: 100%; }

/* NAVBAR /* */
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.9); }
  .navbar-fixed-top li a {
    color: white; }
    .navbar-fixed-top li a:hover, .navbar-fixed-top li a:focus {
      color: white; }
  .navbar-fixed-top .navbar-header button {
    color: white; }
    .navbar-fixed-top .navbar-header button:hover, .navbar-fixed-top .navbar-header button:focus {
      color: black; }
  .navbar-fixed-top .logo {
    padding-left: 0px; }
    @media only screen and (min-width: 1024px) {
      .navbar-fixed-top .logo {
        padding-left: 40px; } }

@media only screen and (min-width: 480px) {
  .navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.4); }
    .navbar-fixed-top li a {
      padding-top: 20px;
      padding-right: 0px;
      font-size: 13px;
      font-style: normal;
      font-weight: bold;
      font-family: DIN;
      color: white; } }
    @media only screen and (min-width: 480px) and (min-width: 1024px) {
      .navbar-fixed-top li a {
        padding-right: 40px; } }

@media only screen and (min-width: 480px) {
      .navbar-fixed-top li a:hover, .navbar-fixed-top li a:focus {
        background-color: transparent;
        color: black; }
    .navbar-fixed-top .navbar-header button {
      color: white; }
      .navbar-fixed-top .navbar-header button:hover {
        color: black; } }

.intro .fondo {
  width: 100%;
  position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.intro .logointro {
  margin-top: 240px;
  margin-bottom: -290px; }

.intro img {
  margin-top: 50px;
  position: relative;
  z-index: -10;
  background-size: cover; }
  @media only screen and (min-width: 480px) {
    .intro img {
      margin-top: 0px; } }

.intro .principal {
  position: absolute;
  z-index: 10; }
  .intro .principal h1 {
    color: white;
    font-size: 20px;
    margin-top: 50px; }
    @media only screen and (min-width: 480px) {
      .intro .principal h1 {
        font-family: DINCond-Black;
        font-size: 64px;
        color: white;
        letter-spacing: 0;
        line-height: 80px; } }
    @media only screen and (min-width: 1024px) {
      .intro .principal h1 {
        margin-top: 300px;
        font-size: 64px; } }

.we h3 {
  /* QUIENES SOMOS: */
  font-family: DINCond-BoldAlternate;
  color: #00B9F2;
  letter-spacing: 7.45px;
  margin-top: 200px;
  font-size: 20px;
  font-weight: normal; }

.we h1 {
  margin-top: 50px; }
  @media only screen and (min-width: 480px) {
    .we h1 {
      font-family: DINCond-Black;
      font-size: 64px;
      color: black;
      letter-spacing: 0;
      line-height: 57px; } }

.we p {
  margin-top: 60px;
  margin-bottom: 200px;
  font-size: 24px; }

.services {
  background-color: #FBFBFB; }
  .services h1 {
    margin-bottom: 50px; }
    @media only screen and (min-width: 480px) {
      .services h1 {
        font-family: DINCond-Black;
        font-size: 64px;
        color: black;
        letter-spacing: 0;
        line-height: 57px; } }
  .services h3 {
    padding-top: 200px;
    margin-top: -80px;
    font-size: 20px;
    color: #00B9F2; }
  .services p {
    font-size: 24px; }
  .services .boxes {
    padding-top: 50px; }
    .services .boxes p {
      font-family: DINCond-Light;
      font-size: 17px;
      color: #919191;
      letter-spacing: 0; }
    .services .boxes h2 {
      font-family: DINCond-Light;
      font-size: 24px;
      color: #000000;
      letter-spacing: 0; }
    .services .boxes a {
      font-family: DINCond-Light;
      font-size: 17px;
      color: #01BAF3;
      letter-spacing: 0; }
    .services .boxes .box {
      border-right: 1px #E7E6E6 solid;
      border-left: 1px #E7E6E6 solid; }

.carrousel {
  background-image: url("../img/Foto_Avion2.png");
  background-position: center center;
  background-size: cover;
  margin-top: 50px;
  height: 400px; }
  .carrousel h3 {
    color: white;
    font-family: DINCond-BoldAlternate;
    font-size: 20px;
    letter-spacing: 7.44px;
    text-shadow: 0 0 10px #000000;
    padding-top: 120px; }
  .carrousel hr {
    border-bottom: 2px solid white; }
  .carrousel img {
    width: 10px; }
    @media only screen and (min-width: 480px) {
      .carrousel img {
        width: auto; } }

.ventajas {
  padding-bottom: 70px; }

.latam {
  background-color: #222222; }
  .latam .latamselect {
    margin-top: -280px; }
  .latam h3 {
    color: #00B9F2;
    padding-top: 300px; }
  .latam h1 {
    color: white; }
    @media only screen and (min-width: 480px) {
      .latam h1 {
        font-family: DINCond-Black;
        font-size: 64px;
        color: white;
        letter-spacing: 0;
        line-height: 57px;
        padding-bottom: 50px;
        padding-top: 50px; } }
  .latam p {
    font-family: Movie-Star;
    margin-top: 30px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 26px;
    padding-bottom: 50px; }
  .latam .mapa {
    max-height: 440px;
    padding-top: 50px;
    padding-bottom: 50px; }

.team {
  margin-bottom: 50px;
  background-color: #FBFBFB; }
  .team .teamselect {
    margin-top: -180px; }
  .team h3 {
    color: #00B9F2;
    padding-top: 100px; }
  .team p {
    font-size: 24px;
    text-align: center; }
  .team .barra {
    margin-top: 50px;
    position: relative;
    z-index: 0;
    margin-left: -15px;
    margin-right: -15px;
    background-image: url("../img/Blur Barra.png");
    background-repeat: none;
    background-size: cover;
    background-position: center; }
    .team .barra h4 {
      padding-top: 110px;
      padding-bottom: 150px;
      font-family: DIN-BoldItalic;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.32); }
      @media only screen and (max-width: 480px) {
        .team .barra h4 {
          font-size: 22px;
          padding-top: 65px; } }
  .team p {
    font-family: DINCond-Light; }
  .team a {
    font-family: DIN;
    font-weight: bold; }
  .team h4 {
    position: relative;
    z-index: 10;
    margin-top: 50px; }
  .team .fotos {
    padding-top: 50px; }
  .team .socios {
    margin-top: 50px;
    padding-bottom: 100px; }
  @media only screen and (min-width: 480px) {
    .team h1 {
      font-family: DINCond-Black;
      font-size: 64px;
      color: black;
      letter-spacing: 0;
      line-height: 57px; } }

.contact .contactselect {
  margin-top: -180px; }

.contact h3 {
  color: #00B9F2;
  padding-top: 100px; }

.contact img {
  padding-bottom: 50px; }

.contact .forminput {
  margin-bottom: 20px;
  border: 3px solid #E5E4E4;
  border-radius: 13px;
  width: 100%;
  font-family: DINCond-Light;
  font-size: 24px;
  color: #B3B3B3;
  letter-spacing: 0; }
  .contact .forminput:focus, .contact .forminput:hover, .contact .forminput:active {
    margin-bottom: 20px;
    border: 3px solid #E5E4E4;
    border-radius: 13px;
    width: 100%;
    font-family: DINCond-Light;
    font-size: 24px;
    color: #B3B3B3;
    letter-spacing: 0; }

.contact textarea {
  border: 3px solid #E5E4E4;
  border-radius: 13px;
  font-family: DINCond-Light;
  font-size: 24px;
  color: #B3B3B3;
  letter-spacing: 0;
  width: 100%; }

.contact .btn-form {
  background-color: #CDCDCD;
  border-radius: 13px;
  border-color: #CDCDCD;
  border-style: none;
  color: white;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 50px; }

.footer {
  padding-top: 20px;
  background: transparent; }
  .footer p {
    font-family: DINCond-Light;
    font-size: 22px;
    color: #676767;
    letter-spacing: 0;
    line-height: 29px; }

ul li {
  color: white;
  list-style-type: none;
  font-family: DINCond-Light;
  font-size: 20px; }
  ul li a {
    color: white;
    font-family: DINCond-Light;
    font-size: 20px; }

hr {
  border-bottom: 2px solid #00B9F2;
  width: 18px; }

.clients {
  padding-bottom: 80px; }
  .clients .slider {
    width: auto;
    color: white;
    font-family: DIN-LightItalicAlt;
    text-shadow: 2px 2px 5px black;
    font-size: 30px; }
    .clients .slider img {
      margin-left: auto;
      margin-right: auto; }
  .clients .slick-slide {
    text-align: center; }
  .clients .mini {
    margin-top: 150px; }

/* SLICK */
.slider {
  width: auto;
  color: white;
  font-family: DIN-LightItalicAlt;
  text-shadow: 2px 2px 5px black;
  font-size: 30px; }

.slick-slide {
  margin: 0px 20px; }

.slick-prev:before, .slick-next:before {
  color: black; }

/* Parallax */
.parallax-window {
  min-height: 400px;
  background: transparent; }

.window-wrapper {
  padding-top: 50px;
  /*height: 800px;*/
  background: #fffff; }
